<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск адреса</title>
</head>
<body>
<div class="page">
  <span class="page-msg">Введите адрес</span>
  <form class="form" method="get">
    {{ form.city }}<br>
    {{ form.street }}<br>
    {{ form.house }}<br>
    Города расположенные в радиусе (необязательное поле)<br>
    {{ form.distance }}<br>
    <button class="button button-clear" type="reset">Очистить</button><br>
    <button class="button button-submit" type="submit">Показать на карте</button><br>
  </form>
    <div class="container" style="width: 1000px; height: 700px">
        <div class="row mt-4">
            <div class="col-md-10 offset-md-1">
                {{ m|safe }}
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
</body>
</html>